.gauge {
    display: flex;
    flex-flow: column wrap;
    margin-left: 100px;
    height: 100%;
    align-items: center;
}

svg .gauge {
    height: 100%;
    background-color: aqua;
}

.action-btns {
    display: flex;
    flex-flow: column wrap;
}

.slider-inp {
    position: relative;
    top: 1.2em;
    
}

.gauge {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: relative;
    right: 5em;
}

